.accordeon {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.accordeon__item {
  margin-bottom: 18px;
}

.accordeon__button {
  width: 100%;
  text-align: left;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease;
  background: #191f2c;
  border-radius: 4px;
  padding: 30px 96px 32px;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
}

.accordeon__button:hover {
  color: #ffbb0e;
}

.accordeon__button:hover::after {
  background: url('../img/arr-down2.svg') no-repeat;
}

.accordeon__button::after {
  content: '';
  position: absolute;
  right: inherit;
  left: 25px;
  background: url('../img/arr-down.svg') no-repeat;
  width: 46px;
  height: 44px;
  bottom: 23%;
  margin-bottom: 0;
  transition: all 0.5s ease;
}

.accordeon__button.active {
  background: #232834;
  padding: 30px 96px 20px;
}

.accordeon__button.active::after {
  content: '';
  position: absolute;
  right: inherit;
  left: 25px;
  background: url('../img/arr-top.svg') no-repeat;
  width: 46px;
  height: 44px;
  bottom: 21%;
  margin-bottom: 0;
  transition: all 0.5s ease;
}

.accordeon__panel {
  height: 0;
  overflow: hidden;
  padding: 0 40px 0 94px;
  margin-left: 0;
  background: #232834;
  border-radius: 4px;
  // margin-top: -3px;
  transition: height 0.25s ease;

  &._active {
    height: 100%;
  }
}

.accardeon__text {
  list-style-type: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  max-width: 897px;
  padding-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .accordeon__button {
    font-size: 18px;
  }
}

@media screen and (max-width: 575px) {
  .accordeon__button {
    padding: 20px 20px 20px 50px !important;
    font-size: 16px;
  }

  .accordeon__button::after {
    left: 6px !important;
    bottom: 32% !important;
    background-size: 30px !important;
  }

  .accordeon__panel {
    padding-left: 51px;
  }
}
