/* FOOTER */
.footer {
  padding: 106px 0;
  background: url("../img/footer.png") no-repeat center center / cover;
}


.footer2 {
  padding-bottom: 170px;
  background: transparent;
}



.footer__list {
  z-index: 2;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.footer__item {
  margin-right: 40px;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.32em;
  color: #fff;
  opacity: 0.26;
  font-family: Inter, sans-serif;
}

@media screen and (max-width: 1199px) {
  .footer__link {
    opacity: 1;
  }

  .footer {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .footer__list {
    flex-direction: column;
    align-items: center;
  }

  .footer__list li {
    margin: 0 auto 15px !important;
  }
}

