/* MAIN */
.main {
  padding: 192px 0 25px;
  border-bottom: 4px solid #3f1e01;
  position: relative;
}

.main__fire {
  position: absolute;
  left: 0;
  top: -100px;
  z-index: -1;
}

.main__title {
  font-weight: 800;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.main__card {
  position: relative;
  z-index: 2;
}

.main__slider {
  width: 2680px;
  max-width: 2680px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  left: -693px;

  .slick-arrow {
    height: 513px;
    width: 500px;
    z-index: 1;
  }

  .slick-next {
    right: 304px;
  }

  .slick-prev {
    left: 304px;
  }
}

.slick-next {
  right: -114px;
  z-index: -1;
}

.slick-prev {
  left: -115px;
}

.main__wrap {
  margin-top: 100px;
}

.main__box {
  justify-content: space-between;
  flex-wrap: wrap;
}

.main__item {
  width: 21%;
  margin-bottom: 85px;
  transition: 0.5s;
  position: relative;
  z-index: 3;
}

.main__name {
  transition: 0.3s;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 0;
  margin-left: 0;
  opacity: 0;
}

.main__item:hover .main__name {
  opacity: 1;
  top: -60px;
}

.main__item:hover .main__block {
  transform: scale(1.05);
  background: #ffde84;
}

.main__item:hover .main__pic {
  transform: scale(1.1);
}

.main h2 {
  text-align: center;
  position: relative;
  margin: 0 auto 80px;
}

.main h2::before {
  content: '';
  display: block;
  position: absolute;
  left: -469px;
  top: 20%;
  width: 425px;
  height: 5px;
  background: white;
}

.main h2::after {
  content: '';
  display: block;
  position: absolute;
  right: -469px;
  top: 20%;
  width: 425px;
  height: 5px;
  background: white;
}

.main__top {
  width: 242px;
  height: 203px;
  background-size: 100%;
}

.main__pic {
  object-fit: cover;
  display: block;
  margin: 0 auto;
  height: 105%;
  transition: 0.5s;
}

.main__block {
  width: 228px;
  background: #ffba01;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  top: -20px;
  padding-top: 5px;
  transition: 0.5s;
}

.main__sum {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgb(0 0 0 / 80%);
  font-family: 'Radio Canada', sans-serif;
  position: relative;
}

.main__sum sup {
  font-family: 'Radio Canada', sans-serif;
  position: absolute;
  top: -8px;
  right: 0;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: rgb(0 0 0 / 30%);
  text-decoration: line-through;
}

.main__cash {
  font-weight: 700;
  font-size: 29px;
  line-height: 33px;
  text-align: center;
  color: #fff;
  font-family: Ubuntu, sans-serif;
  position: absolute;
  right: 24px;
  top: -18px;
}

.main__wrap_2 {
  margin-top: -40px;
  position: relative;
}

.bg1 {
  position: absolute;
  width: auto;
  top: 10px;
  left: -312px;
  z-index: -1;
}

.main__wrap_3 {
  margin-top: -29px;
  position: relative;
}

.profile__one {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slick-slide {
  opacity: 0.8;
}

.slick-center {
  display: block;
  max-width: 10% !important;
  max-height: 20% !important;
  opacity: 1;
  transform: scale(1.2);
  z-index: 3;
}

.slick-list {
  padding: 45px 0 !important;
}

.slick-slide img {
  width: 100%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1320px;
  }
}

@media screen and (max-width: 1199px) {
  .main__card img {
    width: 100%;
  }

  .main__item {
    width: 26%;
  }

  .main__fire {
    top: -93px;
    width: 81%;
  }

  .main__slider {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    position: relative;
    left: 0;
  }

  .slick-dots li {
    border-radius: 50%;
    background: transparent;
    border: 2px solid #f00;
  }

  .slick-dots li.slick-active {
    background: #f00;
  }

  .slick-dots {
    bottom: -45px;
  }

  .slick-slide {
    opacity: 1;
  }
}

@media screen and (max-width: 991px) {
  .main__slider .slick-arrow img {
    height: 98%;
  }

  .main__item {
    width: 36%;
  }
}

@media screen and (max-width: 767px) {
  .main__fire {
    top: -14px;
    width: 81%;
    opacity: 0.4;
  }

  .main {
    padding: 110px 0 2px;
  }

  .slick-dots li {
    border-radius: 50%;
    background: transparent;
    border: 2px solid #f00;
  }

  .slick-dots li.slick-active {
    background: #f00;
  }

  .slick-dots {
    bottom: -45px;
  }

  .main__box {
    flex-direction: column;
    align-items: center;
    position: relative;
    left: -20px;
  }
}

@media screen and (max-width: 575px) {
  .main__title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 3px;
  }

  .main {
    padding: 40px 0 2px;
  }

  .slick-dots li {
    width: 15px;
    height: 15px;
  }

  .slick-dots li button {
    width: 100%;
    height: 100%;
  }

  .slick-dots {
    bottom: -30px;
  }

  .main__wrap {
    margin-top: 80px;
  }

  .main h2 {
    margin-bottom: 50px;
  }

  h2 {
    font-size: 20px;
    line-height: 100%;
  }

  .main h2::before {
    left: -106px;
    top: 38%;
    width: 95px;
    height: 4px;
  }

  .main h2::after {
    right: -106px;
    top: 38%;
    width: 95px;
    height: 4px;
  }

  .main__item {
    width: 100%;
    margin-bottom: 25px;
  }

  .main__box {
    left: 50%;
    margin-left: -117px;
  }

  .main__wrap_2 {
    margin-top: 40px;
  }

  .main__cash {
    font-size: 22px;
    right: 60px;
    position: relative;
    top: 0;
  }

  .main__fire {
    top: -47px;
  }

  h1 {
    font-size: 38px;
    line-height: 48px;
  }

  .accardeon__text {
    font-size: 14px;
  }

  .arcticmodal-container_i {
    width: 100%;
  }

  .profile__one {
    flex-direction: column;
  }

  .main__name {
    font-size: 18px;
    line-height: 26px;
    position: relative;
    left: 0;
    opacity: 1;
    margin: 0 0 0 -40px;
    width: 320px;
  }

  .main__item:hover .main__name {
    top: 0;
  }

  .info__slider .slick-sprev {
    transform: translate3d(-22%, 0, -20px) rotate(0deg);
  }

  .slick-list {
    padding: 15px 0 !important;
  }
}
