/* REV */
.rev {
  padding: 56px 0 160px;
}

.rev h1 {
  margin-bottom: 26px;
  text-align: center;
}

.rev__wrap {
  width: 100%;
  max-width: 1116px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.faq__wrap {
  position: relative;
  z-index: 2;
}

.rev__box {
  width: 100%;
}

.rev__item {
  width: 100%;
  height: auto;
  padding: 12px 167px 14px 14px;
  background: #232834;
  border-radius: 4px;
  margin-bottom: 15px;
}

.rev__item:nth-child(2n) {
  background: #0b101b;
}

.rev__item:last-child {
  margin-bottom: 0;
}

.rev__top {
  align-items: flex-start;
  margin-bottom: 9px;
}

.rev__ava {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: contain;
}

.rev__name {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.2em;
  font-family: Inter, sans-serif;
}

.rev__content {
  margin-left: 14px;
}

.rev__data {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.2em;
  font-family: Inter, sans-serif;
  color: #fff;
  opacity: 0.26;
  margin-top: 5px;
}

.rev__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  font-family: Inter, sans-serif;
}

.rev__btn {
  margin: 29px 0 0 auto;
}

@media screen and (max-width: 767px) {
  .rev__item {
    padding: 12px 40px 14px 14px;
  }

}

@media screen and (max-width: 575px) {
  .rev {
    padding: 40px 0 120px;
  }

  .rev__text {
    font-size: 12px;
  }

  .rev__name {
    font-size: 18px;
  }


  .rev__btn {
    width: 100%;
  }
}