// Loader
.loading-block {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.46;
  text-align: center;
  color: var(--color-gray);
}

.loading-block__image {
  width: 70px;
  height: 70px;
  margin: 0 auto 16px;
}

.loading-block__title {
  margin: 0 0 12px;
  color: var(--color-font);
}

.loader {
  &._page,
  &._overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease-in-out;
    inset: 0;
  }

  &._page {
    position: fixed;
    z-index: 999;
    background: rgb(0 0 0 / 50%);
  }

  &._overlay {
    position: absolute;
    z-index: 1;
    background: rgb(0 0 0 / 50%);
  }

  &._active {
    opacity: 1;
    pointer-events: all;
  }
}

.loader-anim {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  gap: 5px;

  > * {
    flex: 0 0 auto;
    width: 8px;
    height: 8px;
    background: var(--color-primary);
    border-radius: var(--ui-border-radius);
    animation: loader 1.5s linear infinite;
    backface-visibility: hidden;
  }

  > *:nth-child(1) {
    animation-delay: 0s;
  }

  > *:nth-child(2) {
    animation-delay: 0.2s;
  }

  > *:nth-child(3) {
    animation-delay: 0.4s;
  }

  > *:nth-child(4) {
    animation-delay: 0.6s;
  }

  > *:nth-child(5) {
    animation-delay: 0.8s;
  }
}

@keyframes loader {
  0% {
    height: 8px;
  }

  20% {
    height: 50px;
  }

  40% {
    height: 8px;
  }
}
