/* Product */
.product {
  position: relative;
  z-index: 2;
  padding: 48px 0 50px;

  &__back {
    margin-bottom: 12px;
  }

  &__title {
    margin-bottom: 56px;
    text-align: center;
  }

  &__box {
    display: flex;
    justify-content: space-between;

    // align-items: center;
    margin-bottom: 74px;
  }

  &__left {
    flex: 1 1 auto;
    width: 100%;
    max-width: 560px;
  }

  &__slider {
    border-radius: var(--card-border-radius);

    .swiper-slide {
      display: flex;
      flex-direction: column;
      height: auto;
      cursor: zoom-in;
    }
  }

  &__gallery-image {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: var(--card-border-radius);
    object-fit: cover;

    img {
      max-width: 100%;
      max-height: 100%;

      // object-fit: cover;
    }
  }

  &__thumbs {
    margin-top: 23px;

    .swiper-slide {
      flex: 0 0 auto;
      width: auto;
    }

    .swiper-wrapper {
      padding: 2px;
    }
  }

  &__thumb {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 98px;
    max-width: 181px;
    background: var(--color-bg);
    border: 2px solid transparent;
    border-radius: var(--card-border-radius);
    transition: border 0.25s $ease;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      border-color: var(--color-primary);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 781px;
    margin-left: 47px;
    padding-top: 10px;
  }

  &__text {
    span {
      font-weight: 600;
    }
  }

  &__wysiwyg {
    margin-bottom: 40px;
  }

  &__payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 356px;
    margin-top: auto;
    margin-bottom: 16px;
  }

  &__price {
    position: relative;
    font-family: var(--font-alt);
    font-weight: 700;
    font-size: 34px;
    line-height: calc(41 / 34);
  }

  &__price sup {
    position: absolute;
    top: -18px;
    left: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-decoration: line-through;
    color: #fff;
    opacity: 0.4;
  }

  &__options {
    display: flex;
    align-items: center;
  }

  &__options-el {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    margin-left: 4px;
    padding: 4px;
    background: rgb(56 64 73 / 80%);
    border-radius: var(--card-border-radius);

    img {
      max-width: 100%;
      max-height: 100%;
      filter: brightness(0) invert(1);
    }
  }
}

@include r($xl) {
  .product {
    &__left {
      max-width: 480px;
    }
  }
}

@include r($lg) {
  .product {
    &__box {
      flex-direction: column;
    }

    &__left {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    &__content {
      width: 100%;
      max-width: 100%;
      max-width: 600px;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    &__text {
      max-width: 80%;
      margin: 0 auto;
    }

    &__btn {
      margin: 0 auto;
    }

    &__title {
      margin-bottom: 40px;
    }

    &__price {
      width: max-content;
    }

    &__payment {
      margin: -10px auto 25px;
    }
  }
}

@include r($md) {
  .product {
    padding: 30px 0 50px;

    &__title {
      margin-bottom: 25px;
    }

    // &__price {
    //   margin: -20px auto 20px;
    // }

    &__btn,
    &__payment {
      width: 100%;
      max-width: 420px;
      margin-left: auto;
      margin-right: auto;
    }

    &__slider {
      overflow: visible;
      height: auto;
    }
  }
}

// reviews
.product-rev {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 70%;
  min-width: 1px;

  &__title {
    margin-bottom: 35px;
    font-weight: 700;
  }

  &__slider {
    position: relative;
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.25s $ease;

    &._loaded {
      opacity: 1;
    }

    .swiper-slide {
      flex: 0 0 auto;
      width: 500px;
      height: auto;
    }

    &::after {
      position: absolute;
      content: ' ';
      display: inline-block;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      width: 200px;
      background: linear-gradient(to left, #000 0%, rgb(0 0 0 / 0%) 100%);
      border-radius: 4px;
      pointer-events: none;

      // mix-blend-mode: overlay;
    }

    .rev-card {
      // flex: 1 0 auto;
      height: 100%;
      max-width: 500px;
      min-width: 1px;
      padding: 30px 30px 30px 20px;
      background: #191f2c;

      &__text {
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
      }
    }
  }

  &__info {
    margin-top: 15px;
    font-family: var(--font-accent);
    font-weight: 700;
    color: rgba(#fff, 0.3);
  }

  &__more {
    display: inline-block;
    margin-top: 32px;
  }
}

@include r($md) {
  .product-rev {
    max-width: 100%;

    &__title {
      margin-bottom: 16px;
    }

    &__slider {
      margin-left: -20px;
      margin-right: -20px;

      .swiper-wrapper {
        padding-left: 20px;
        padding-right: 20px;
      }

      &::after {
        width: 120px;
      }

      .swiper-slide {
        width: 360px;
      }

      .rev-card {
        max-width: 360px;
      }
    }
  }
}
