/* Product */
.product {
  padding: 48px 0 50px;

  &__title {
    margin-bottom: 56px;
    text-align: center;
  }

  &__content {
    width: 100%;
    max-width: 781px;
    margin-left: 47px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 74px;
  }

  &__image {
    width: 560px;
    height: 543px;
    border-radius: 4px;
    object-fit: cover;
  }

  &__name {
    margin-bottom: 5px;
  }

  &__text {
    span {
      font-weight: 600;
    }
  }

  &__el {
    margin-bottom: 40px;
  }

  &__list {
    margin-bottom: 70px;
  }

  &__li {
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    // @apply .p-regular;

    &::before {
      content: '';
      display: inline;
      flex: 1 0 auto;
      width: 3px;
      height: 3px;
      max-width: 3px;
      margin-right: 5px;
      background: #fff;
      border-radius: 50%;
    }
  }

  &__li,
  &__price {
    position: relative;
    margin-bottom: 16px;
    font-family: var(--font-alt);
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
  }

  &__price sup {
    position: absolute;
    top: -17px;
    left: 0;
    font-family: var(--font-alt);
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-decoration: line-through;
    color: #fff;
    opacity: 0.2;
  }

  &__left {
    width: 100%;
    max-width: 560px;
  }

  &__slider {
    overflow: hidden;
    height: 425px;
    margin-bottom: 23px;

    .product__image {
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__item_nav {
    width: 181px;
    height: 98px;
    margin: 0 4.5px;
  }

  &__item_nav img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__slider_nav {
    margin: 0 -4.5px;
  }

  &__flex {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 356px;
  }

  &__logos {
    align-items: center;
  }

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40.52px;
    height: 29.2px;
    margin-left: 4px;
    background: rgb(56 64 73 / 80%);
    border-radius: 2px;
  }

  &__block:nth-child(1) img {
    width: 80%;
  }

  &__block:nth-child(1) {
    margin-left: 0;
  }
}

@include r($xl) {
  .product {
    &__box {
      flex-direction: column;
    }

    &__content {
      width: 100%;
      max-width: 100%;
      margin-top: 30px;
      margin-left: 0;
      text-align: center;
    }

    &__li {
      width: 374px;
      margin: 0 auto 4px;
    }

    &__text {
      max-width: 80%;
      margin: 0 auto;
    }

    &__el {
      margin-bottom: 20px;
    }

    &__btn {
      margin: 0 auto;
    }

    &__title {
      margin-bottom: 40px;
    }

    &__price {
      width: max-content;
      margin: -10px auto 20px;
    }

    &__flex {
      margin: -10px auto 25px;
    }

    &__flex .product__price {
      margin: 0;
    }
  }
}

@include r($lg) {
  .product {
    &__image {
      width: 100%;
      height: auto;
    }
  }
}

@include r($md) {
  .product {
    &__text {
      max-width: 100%;
    }
  }
}

@include r($sm) {
  .product {
    padding: 30px 0 50px;

    &__title {
      margin-bottom: 25px;
    }

    &__content {
      text-align: left;
    }

    &__li {
      width: 100%;
    }

    &__price {
      margin: -20px auto 20px;
    }

    &__btn {
      width: 100%;
    }

    &__slider_nav {
      display: none;
    }

    &__slider {
      overflow: visible;
      height: auto;
    }
  }
}

// reviews
.product-rev {
  width: 100%;
  max-width: 800px;

  &__title {
    margin-bottom: 35px;
    font-weight: 700;
    text-align: center;
  }

  &__info {
    margin-top: 15px;
    font-family: var(--font-accent);
    font-weight: 700;
    color: #fff;
    opacity: 0.12;
  }
}
