.faq {
  padding: 60px 0 150px;

  &__head {
    position: relative;
    z-index: 2;
    margin-bottom: 60px;
  }

  &__wrapper {
    position: relative;
    z-index: 2;
  }

  &__guide {
    display: flex;
    justify-content: space-between;
    margin-left: calc(((100vw - var(--container-wide) + 40px) / 2) * -1);
    margin-right: calc(((100vw - var(--container-wide) + 40px) / 2) * -1);
    margin-bottom: 80px;

    @include r(1536) {
      margin-left: -40px;
      margin-right: -40px;
    }

    @include r($md) {
      margin-left: -20px;
      margin-right: -20px;
    }

    .swiper-slide {
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      width: auto;

      &:not(:last-child) .faq__slide::after {
        display: block;
      }
    }
  }

  &__slide {
    position: relative;
    flex: 1 0 auto;
    max-width: 300px;
    text-align: center;

    &::after {
      position: absolute;
      content: ' ';
      display: none;
      top: 75px;
      right: 0;
      width: 19px;
      height: 34px;
      background: url('@/assets/img/arrow.svg') no-repeat;
      background-size: cover;
    }
  }

  &__image {
    position: relative;
    padding: 0 40px;
    font-size: 0;

    img {
      max-width: 100%;
    }
  }

  &__text {
    margin-top: 16px;
    font-weight: 600;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 18px;
    text-align: center;
  }
}

@include r($hd) {
  .faq {
    &__wrapper {
      padding-left: 80px;
      padding-right: 80px;
    }

    &__guide {
      margin-left: -120px;
      margin-right: -120px;
    }
  }
}

@include r($xl) {
  .faq {
    &__guide {
      .swiper-slide {
        &:not(:last-child) .faq__slide::after {
          transform: scale(0.7);
        }
      }
    }

    &__slide {
      max-width: 270px;
    }
  }
}

@include r($lg) {
  .faq {
    &__head {
      margin-bottom: 42px;
    }
  }
}

@include r($md) {
  .faq {
    padding: 40px 0 100px;

    &__head {
      margin-bottom: 32px;
    }

    &__guide {
      margin-left: -20px;
      margin-right: -20px;
    }

    &__wrapper {
      padding-left: 0;
      padding-right: 0;
    }

    &__image {
      max-width: 220px;
    }

    &__slide {
      max-width: 235px;

      &::after {
        top: 56px;
      }
    }
  }
}
