.purchases {
  position: relative;
  display: flex;
  align-items: center;

  &__slider {
    .swiper-slide {
      flex: 0 0 auto;
      width: 140px;
      will-change: width;
      transition: width 0.25s $ease;
    }
  }

  &__slide {
    position: relative;
    overflow: hidden;
    display: block;
    z-index: 1;
    height: 77px;
    background: radial-gradient(50% 50% at 50% 50%, #ffba01 12.5%, #d35e00 100%);
    border: 4px solid rgb(255 255 255 / 33%);
    border-radius: 5px;
    will-change: height;
    transition: height 0.25s $ease;
  }

  &__slide-price {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 4px 8px;
    font-weight: 700;
    font-size: 14px;
    color: var(--color-font);
    background: var(--color-font-invert);
    border-top-left-radius: var(--card-border-radius);
  }
}

@include r($md) {
  .purchases {
    &__slider {
      .swiper-slide {
        width: 120px;
      }
    }

    &__slide {
      height: 60px;
    }
  }
}
