/* MAIN */
.home {
  position: relative;
  padding: 192px 0 25px;
  border-bottom: 4px solid #3f1e01;

  &._has-logo {
    padding-top: 0;
  }

  &._loading {
    .slider {
      opacity: 0;
    }
  }

  &__fire {
    top: -105px;
    left: 0;
    width: auto;
    mix-blend-mode: lighten;
  }

  &__logo {
    display: flex;
    justify-content: center;
    margin: 30px 0 10px;
    font-size: 0;

    img {
      max-width: 100%;
    }
  }

  &__categories {
    position: relative;
    display: flex;
    z-index: 2;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: -12px;
    flex-wrap: wrap;

    .button {
      margin-right: 12px;
      margin-bottom: 12px;
      padding: 16px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__products {
    margin-top: 52px;
  }

  &__category {
    position: relative;
  }

  &__category-grid {
    display: grid;

    justify-content: space-between;
    grid-gap: 85px 32px;
    margin-bottom: 85px;

    grid-template-columns: repeat(auto-fit, 242px);

    // grid-template-columns: repeat(auto-fit, minmax(242px, 1fr));

    // grid-template-columns: repeat(4, auto);
  }

  &__category-title {
    position: relative;
    overflow: hidden;
    max-width: 80%;
    margin: 0 auto 80px;
    text-align: center;
    text-transform: uppercase;

    span {
      position: relative;
      display: inline-block;
      z-index: 2;

      &::before,
      &::after {
        position: absolute;
        content: '';
        display: block;
        top: 50%;
        z-index: 1;
        width: 50vw;
        height: 5px;
        background: #fff;
        transform: translateY(-50%) rotate(180deg);
        pointer-events: none;
      }

      &::before {
        left: -45px;
        transform-origin: left center;
      }

      &::after {
        right: -45px;
        transform-origin: right center;
      }
    }
  }

  &__category-decor {
    position: absolute;
    top: 14px;
    left: calc((((100vw - var(--container-main)) / 2) * -1) - 40px);
    right: calc((((100vw - var(--container-main)) / 2) * -1) - 40px);
    height: 420px;
    pointer-events: none;
  }
}

@include r($xl) {
  .home {
    &__fire {
      top: -93px;
      width: 81%;
    }

    &__category-grid {
      // grid-template-columns: repeat(3, 1fr);
    }

    &__category-decor {
      left: -40px;
      right: -40px;
    }
  }
}

@include r($lg) {
  .home {
    &__categories {
      margin-top: 60px;
    }

    // &__products {
    // }

    &__category-grid {
      // grid-template-columns: 1fr 1fr;
      grid-gap: 60px 24px;
      margin-bottom: 60px;
    }
  }
}

@include r($md) {
  .home {
    padding: 110px 0 2px;

    &__fire {
      top: -14px;
      z-index: 1;
      width: 81%;
      opacity: 0.4;
      mix-blend-mode: none;
    }

    &__category-grid {
      position: relative;

      // grid-template-columns: 1fr;
      grid-gap: 32px 24px;

      // flex-direction: column;
      // align-items: center;
    }

    &__category-decor {
      left: -20px;
      right: -20px;
    }
  }
}

@include r($sm) {
  .home {
    padding: 40px 0 2px;

    &__products {
      margin-top: 80px;
    }

    &__fire {
      top: -47px;
    }

    &__name {
      position: relative;
      left: 0;
      width: 320px;
      margin: 0 0 0 -40px;
      font-size: 18px;
      line-height: 26px;
      opacity: 1;
    }

    &__categories {
      margin-top: 42px;

      .button {
        padding: 12px;
      }
    }

    &__category-title {
      max-width: 100%;
      margin-bottom: 50px;

      span {
        &::before {
          left: -24px;
          height: 3px;
        }

        &::after {
          right: -24px;
          height: 3px;
        }
      }
    }

    &__category-grid {
      margin-bottom: 32px;
    }
  }
}

@include r(547) {
  .home {
    &__category-grid {
      grid-template-columns: 1fr;
      justify-content: center;

      .product-card {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
