/* MAIN */
.home {
  position: relative;
  padding: 192px 0 25px;
  border-bottom: 4px solid #3f1e01;

  &__fire {
    position: absolute;
    top: -114px;
    left: 0;
    z-index: 1;
  }

  &__products {
    margin-top: 100px;
  }

  &__category {
    position: relative;
  }

  &__category-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__category-title {
    position: relative;
    margin: 0 auto 80px;
    text-align: center;
    text-transform: uppercase;

    span {
      position: relative;
      display: inline-block;
      z-index: 2;
      padding: 0 45px;
      background: #010206;
    }

    &::before {
      position: absolute;
      content: '';
      display: block;
      top: 50%;
      left: 50%;
      z-index: 1;
      width: 100%;
      height: 5px;
      max-width: 80%;
      background: #fff;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }

  &__category-bg {
    position: absolute;
    top: 10px;
    left: -312px;
    z-index: -1;
    width: auto;
  }
}

@include r($xl) {
  .home {
    &__fire {
      top: -93px;
      width: 81%;
    }
  }
}

@include r($md) {
  .home {
    padding: 110px 0 2px;

    &__fire {
      top: -14px;
      width: 81%;
      opacity: 0.4;
    }

    &__category-box {
      position: relative;
      left: -20px;
      flex-direction: column;
      align-items: center;
    }
  }
}

@include r($sm) {
  .home {
    padding: 40px 0 2px;

    &__products {
      margin-top: 80px;
    }

    &__category-box {
      left: 50%;
      margin-left: -117px;
    }

    &__fire {
      top: -47px;
    }

    &__name {
      position: relative;
      left: 0;
      width: 320px;
      margin: 0 0 0 -40px;
      font-size: 18px;
      line-height: 26px;
      opacity: 1;
    }

    &__category-title {
      margin-bottom: 50px;

      &::before {
        width: 70%;
        height: 4px;
      }
    }
  }
}
