.product-card {
  position: relative;
  display: block;
  display: -webkit-box;
  display: flexbox;
  display: flex;
  z-index: 3;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: min-content;
  min-width: 1px;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.product-card__img2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  transition: 0.3s;
  object-fit: contain;
  object-position: bottom;
}

.product-card:hover .product-card__img2 {
  transform: scale(1.1);
}

.product-card__name {
  position: absolute;
  left: 0;
  bottom: 70%;
  z-index: 1;
  width: 100%;
  min-width: 1px;
  margin: 0 auto 0 0;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1666666667;
  text-align: center;
  color: #fff;
  opacity: 0;
  will-change: top;
  transition: all 0.3s ease-in-out;
}

.product-card__top {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  width: 242px;
  height: 203px;
  background-size: 100%;
}

.product-card__image {
  position: relative;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  height: 100%;
  padding: 22px 15px;
  background: white;
  clip-path: polygon(0% 0%, 100% 10%, 88% 100%, 6% 100%);
}

.product-card__image .product-card__image-img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
  clip-path: polygon(0% 0%, 100% 10%, 88% 100%, 6% 100%);
}

.product-card__action {
  position: relative;
  display: -webkit-box;
  display: flexbox;
  display: flex;
  top: -24px;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 228px;
  height: 45px;
  margin-right: 24px;
  background: #ffba01;
  transition: all 0.25s ease-in-out;
}

.product-card__price {
  position: relative;
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  color: rgb(0 0 0 / 80%);
}

.product-card__price._discount {
  color: hextorbg(#600728);
}

.product-card__price._discount .product-card__price-old {
  display: block;
}

.product-card__price-old {
  display: none;
  width: 100%;
  margin-right: 8px;
  font-size: 14px;
  line-height: 1;
  text-align: right;
  text-decoration: line-through;
  color: rgb(0 0 0 / 50.2%);
}

.product-card:hover .product-card__name {
  bottom: calc(100% + 16px);
  opacity: 1;
}

.product-card:hover .product-card__action {
  background: #ffde84;
  transform: scale(1.05);
}
