* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

html {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration-skip-ink: none;
  text-decoration: none;
}

body {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #FFF;
  background: linear-gradient(0deg, #010206, #010206), linear-gradient(180deg, #1D5FDD 0%, #002E88 51.56%, #00102E 100%);
  font-family: Raleway, sans-serif;
  margin: 0;
  touch-action: pan-y;
  text-size-adjust: none;

  &.js-locked {
    overflow: hidden;
  }
}


div,
form,
input,
p,
a,
span {
  box-sizing: border-box;
}

ul,
li,
p {
  display: block;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a,
a:hover,
button {
  cursor: pointer;
  transition: 0.25s ease;
}

ul a:hover,
a:hover {
  color: #FFBB0E !important;
}

button:active,
button:focus,
input:active,
input:focus {
  outline: none !important;
  text-decoration: none !important;
}

input,
textarea,
select {
  appearance: none;
}

button:hover {
  cursor: pointer;
}


section,
footer,
header {
  overflow: hidden;
}

.body-wrap {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  zoom: 0.9;
}

footer {
  margin-top: auto;
}

:focus {
  outline: none !important;
}


.svg-icon {
  color: currentcolor;
  line-height: 0;
  height: 1em;
}


