* {
  box-sizing: border-box;
  outline: none;
}

html {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
  text-decoration-skip-ink: none;
}

body {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-font);
  background: linear-gradient(0deg, #010206, #010206),
    linear-gradient(180deg, #1d5fdd 0%, #002e88 51.56%, #00102e 100%);
  touch-action: pan-y;
  text-size-adjust: none;

  &.js-locked {
    overflow: hidden;
  }
}
