.fire {
  position: absolute;
  z-index: 1;
  width: 100%;
  pointer-events: none;

  &._bottom_left {
    left: 0;
    bottom: 0;
  }

  &._bottom_right {
    right: 0;
    bottom: 0;
  }

  &._top_left {
    top: 0;
    left: 0;
  }

  &._top_right {
    top: 0;
    right: 0;
  }

  &._top {
    top: 0;
    left: 0;
    right: 0;
  }

  &._bottom {
    left: 0;
    right: 0;
    bottom: 0;
  }
}

._faq-left {
  max-width: 850px;
}

._faq-right {
  max-width: 600px;
}

._product {
  position: absolute;
  z-index: 1;
  width: 47%;
  max-width: 1000px;
}

@include r($hdplus) {
  ._product {
    max-width: 685px;
  }
}

@include r(1499) {
  ._faq-left {
    max-width: calc(100vw / 2);
  }

  ._faq-right {
    max-width: 480px;
  }
}

@include r($xl) {
  ._faq-right {
    max-width: 300px;
  }
}

@include r($lg) {
  ._faq-left {
    max-width: 250px;
  }
}

@include r($md) {
  ._product {
    width: 65%;
  }
}

@include r($sm) {
  ._faq-right {
    max-width: 220px;
  }

  ._faq-left {
    max-width: 190px;
  }
}

.swiper {
  user-select: none;
}
