.fire {
  position: absolute;
  z-index: 1;
  width: 100%;

  &._bottom_left {
    left: 0;
    bottom: 0;
  }

  &._bottom_right {
    right: 0;
    bottom: 0;
  }

  &._top_left {
    top: 0;
    left: 0;
  }

  &._top_right {
    top: 0;
    right: 0;
  }

  &._bottom {
    bottom: 0;
  }
}

.fire2 {
  max-width: 850px;
}

.fire3 {
  max-width: 600px;
}

.fire55 {
  position: absolute;
  z-index: 1;
  width: 47%;
  max-width: 1000px;
}

@include r($hdplus) {
  .fire55 {
    max-width: 685px;
  }
}

@include r(1499) {
  .fire2 {
    // max-width: 640px;
    max-width: calc(100vw / 2);
  }

  .fire3 {
    max-width: 480px;
  }
}

@include r($xl) {
  .fire3 {
    max-width: 300px;
  }
}

@include r($lg) {
  .fire2 {
    max-width: 250px;
  }
}

@include r($md) {
  .fire55 {
    width: 65%;
  }
}

@include r($sm) {
  .fire3 {
    max-width: 220px;
  }

  .fire2 {
    max-width: 190px;
  }
}

.swiper {
  user-select: none;
}
