h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-raleway);
}

.h1-title {
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: calc(59 / 50);
  text-align: center;
}

.h2-title {
  font-weight: 800;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
}

.h3-title {
  font-weight: 900;
  font-size: 30px;
  line-height: calc(35 / 30);
}

.h4-title {
  font-weight: 900;
  font-size: 24px;
  line-height: calc(28 / 24);
}

.h5-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
}

.h6-title {
  font-weight: 900;
  font-size: 18px;
  line-height: calc(21 / 18);
}

@include r($sm) {
  .h1-title {
    font-size: 38px;
  }

  .h2-title {
    font-size: 22px;
  }

  .h3-title {
    font-size: 20px;
  }

  .h4-title {
    font-size: 20px;
  }

  .h5-title {
    font-size: 18px;
  }

  .h6-title {
    font-size: 16px;
  }
}

.p-main {
  font-family: var(--font-raleway);
  font-weight: 600;
  font-size: 18px;
  line-height: calc(21 / 18);
}

.p-regular {
  font-family: var(--font-canada);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(16 / 19);
}

ul,
li,
p {
  display: block;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  appearance: none;
}

button {
  cursor: pointer;
}

section,
footer,
header {
  overflow: hidden;
}
