/* NAV */
.header {
  position: sticky;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: radial-gradient(
    78.79% 1603.12% at 18.89% 71.76%,
    #eb5f0e 0%,
    #851012 51.82%,
    #480136 100%
  );
  will-change: transform, box-shadow;
  backface-visibility: hidden;
  transition: transform 0.25s $ease, box-shadow 0.2s linear;

  .container {
    padding: 0 0 0 20px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 105px;
    padding: 14px 0;
    will-change: transform;
    transition: transform 0.25s $ease;
  }

  &__main {
    position: relative;
    display: flex;
    flex: 1 1 65%;
    min-width: 1px;
  }

  &__purchases {
    flex: 0 1 auto;
    min-width: 1px;
    will-change: transform;
    backface-visibility: hidden;
    transition: transform 0.25s $ease, margin 0.25s $ease, width 0.25s $ease;

    &::after,
    &::before {
      position: absolute;

      // content: ' ';
      // display: inline-block;
      display: none;
      top: 0;
      bottom: 0;
      z-index: 2;
      width: 160px;
      border-radius: 6px;
      pointer-events: none;
      mix-blend-mode: overlay;
    }

    &::before {
      left: 0;
      background: linear-gradient(to right, rgb(0 0 0 / 70%) 0%, rgb(0 0 0 / 0%) 100%);
    }

    &::after {
      right: 0;
      background: linear-gradient(to left, rgb(0 0 0 / 70%) 0%, rgb(0 0 0 / 0%) 100%);
    }
  }

  &__auth {
    display: flex;
    flex: 0 0 35%;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
  }

  &__user {
    flex: 0 0 auto;
  }

  &__telegram {
    position: relative;
    overflow: hidden;
    display: block;
    z-index: 1;
    height: 100%;
    max-width: 275px;
    font-size: 0;
    border-radius: 6px;
    transition: box-shadow 0.25s $ease;

    &:hover {
      box-shadow: 0 10px 39px 0 rgb(84 169 235 / 100%);
    }

    iframe {
      width: 100%;
      height: 48px;
    }
  }

  &__hamburger {
    margin-left: -10px;
    margin-right: 10px;
    padding: 10px;
  }

  // scroll modifier
  &._scrolled:not(._focused) {
    transform: translateY(-32px);
    box-shadow: 0 2px 16px 0 rgba(#000, 30%);

    .header {
      &__wrapper {
        transform: translateY(16px);
      }
    }

    .purchases {
      &__slider {
        .swiper-slide {
          width: 120px;
        }
      }

      &__slide {
        height: 60px;
      }
    }
  }
}

// user
.header-user {
  display: flex;

  &__deposit {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.25s $ease;

    &:hover {
      .header-user__cash {
        color: #fff;
        background: linear-gradient(
          180deg,
          rgb(217 217 217 / 54%) 0%,
          rgb(255 255 255 / 54%) 0.01%,
          rgb(255 255 255 / 23.8%) 100%
        );
      }
    }
  }

  &__cash {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 40px;
    padding-right: 2px;
    padding-bottom: 2px;
    font-size: 0;
    color: #dac5cc;
    background: linear-gradient(
      180deg,
      rgb(217 217 217 / 19%) 0%,
      rgb(255 255 255 / 19%) 0.01%,
      rgb(255 255 255 / 8.36%) 100%
    );
    border-radius: 10px;
    transition: all 0.25s $ease;

    .svg-icon {
      font-size: 28px;
    }
  }

  &__plus {
    position: relative;
    display: inline-flex;
    left: -7px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    font-size: 0;
    color: #575757;
    background: #d9d9d9;
    border-radius: 50%;

    .svg-icon {
      font-size: 10px;
    }
  }

  &__right {
    margin-left: 5px;
  }

  &__name {
    margin-bottom: 4px;
    font-family: var(--font-accent);
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    opacity: 0.5;
  }

  &__balance {
    font-family: var(--font-alt);
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
  }
}

@include r($hd) {
  .header {
    &__main {
      flex-basis: auto;
    }

    &__auth {
      flex-basis: 350px;
      justify-content: flex-end;
    }
  }
}

@include r($xl) {
  .header {
    &__auth {
      flex-basis: 310px; // 35px
    }
  }
}

@include r($lg) {
  .header {
    &__wrapper {
      // min-height: 1px;
    }
  }
}

@include r($md) {
  .header {
    &__wrapper {
      min-height: 74px;
      padding: 0;
    }

    &._scrolled:not(._focused) {
      transform: none;

      .header {
        &__wrapper {
          transform: none;
        }
      }
    }
  }
}

@include r($sm) {
  .header {
    &__telegram {
      max-width: 238px;
    }

    &__auth {
      display: block;
      flex-basis: auto;
      padding-left: 0;
    }

    &__main {
      display: none;
    }

    &__hamburger {
      margin-right: auto;
    }
  }
}

// &__actions {
//   flex: 0 0 auto;
//   margin-right: 2px;
// }

// &__action-link {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 49px;
//   height: 37px;
//   background: rgb(217 217 217 / 19%);
//   border-radius: 10px;
//   cursor: pointer;
//   transition: color 0.25s $ease, height 0.25s $ease;

//   &:nth-child(1) {
//     margin-bottom: 2px;
//     border-top-left-radius: 10px;
//   }

//   &:nth-child(2) {
//     border-bottom-left-radius: 10px;
//   }

//   .svg-icon {
//     font-size: 16px;
//   }

//   &:hover {
//     color: var(--color-primary);
//   }
// }
