.input {
  position: relative;
  display: block;

  &_wrapper {
    position: relative;
    z-index: 1;
  }

  textarea {
    resize: vertical;
  }

  &_input {
    display: block;
    width: 100%;
    padding: 15px 0;
    font-family: var(--font-base);
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24 / 20);
    color: var(--color-muted);
    background: transparent;
    border: 0;
    border-bottom: 2px solid var(--color-font);
    border-radius: 0;
    backface-visibility: hidden;
    transition: border 0.1s $ease, color 0.1s $ease, background 0.1s $ease;
    appearance: none;

    &::placeholder {
      color: var(--color-gray);
    }

    &:focus {
      border-color: var(--color-primary);
    }

    &._withClear,
    &._withIcon {
      padding-right: 40px;
    }

    &._withIcon {
      &._posleft {
        padding-left: 48px;
        padding-right: 15px;
      }
    }

    &._withError {
      border-color: var(--color-red);
      color: var(--color-red);

      &::placeholder {
        color: rgb(var(--color-red) 0.5);
      }
    }
  }

  &_icon,
  &_clear {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }

  &_icon {
    opacity: 0.5;

    &._posleft {
      left: 15px;
      right: auto;
    }
  }

  &_clear {
    right: 0;
    padding: 11px 12px;
    color: var(--color-primary);
    transition: color 0.1s $ease;
    cursor: pointer;

    .svg-icon {
      font-size: 12px;
    }

    &:hover {
      color: var(--color-font-invert);
    }
  }

  &._small {
    .input_input {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  &._clear {
    .label {
      position: absolute;
      top: 4px;
      left: 0;
      z-index: 2;
      margin: 0;
      font-size: 14px;
      pointer-events: none;
      transition: transform 0.1s $ease, color 0.1s $ease, font-size 0.1s $ease;
    }

    .input_input {
      padding: 8px 0;
      font-size: 14px;
      background: transparent;
      border: 0;
      border-radius: 0;

      &._withError {
        border-color: var(--color-red);
      }
    }

    &._focused {
      .label {
        transform: translateY(-8px) scale(0.7);
      }

      .input__input {
        border-color: var(--color-primary);
      }
    }
  }
}

@include r($sm) {
  .input {
    &_input {
      font-size: 12px;
    }

    &._clear,
    &._clear-white {
      .input_input {
        font-size: 12px;
      }
    }
  }
}
