.accordeon {
  width: 100%;

  // max-width: 1000px;
  // margin: 0 auto;

  &__item {
    margin-bottom: 18px;
  }

  &__toggle {
    position: relative;
    width: 100%;
    padding: 30px 96px 32px;
    font-family: var(--font-accent);
    font-weight: 900;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: left;
    color: #fff;
    background: #191f2c;
    border-radius: var(--ui-border-radius);
    transition: color 0.25s $ease, background 0.25s $ease;
    cursor: pointer;

    &.active {
      .accordeon__toggle {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .accordeon__toggle-box {
        .svg-icon {
          transform: rotate(-180deg);
        }
      }
    }

    &:hover,
    &.active {
      background: #232834;

      .accordeon__toggle-box {
        color: var(--color-primary);
      }
    }
  }

  &__toggle-box {
    position: absolute;
    content: '';
    display: inline-flex;
    top: 20px;
    left: 24px;
    right: inherit;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    font-size: 0;
    color: var(--color-font);
    border: 2px solid rgba(#fff, 0.6);
    border-radius: 50%;
    transition: all 0.25s $ease;

    .svg-icon {
      font-size: 16px;
      will-change: transform;
      backface-visibility: hidden;
      transition: transform 0.25s $ease;
    }
  }

  &__contents {
    position: relative;
    overflow: hidden;
  }

  &__dropdown {
    overflow: hidden;
    display: none;
    margin-left: 0;
    padding: 0 40px 0 94px;
    background: #232834;
    border-bottom-left-radius: var(--ui-border-radius);
    border-bottom-right-radius: var(--ui-border-radius);

    &._active {
      display: block;
      margin-top: 0;
    }
  }

  &__text {
    max-width: 897px;
    padding-bottom: 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    list-style-type: none;
  }
}

@include r($md) {
  .accordeon {
    &__toggle {
      padding: 20px 20px 20px 54px;
      font-size: 18px;
    }

    &__toggle-box {
      top: 16px;
      left: 10px;
      width: 30px;
      height: 30px;

      .svg-icon {
        font-size: 12px;
      }
    }

    &__dropdown {
      padding-left: 54px;
    }
  }
}
