.accordeon {
  width: 100%;

  // max-width: 1000px;
  // margin: 0 auto;

  &__item {
    margin-bottom: 18px;
  }

  &__toggle {
    position: relative;
    width: 100%;
    padding: 30px 96px 32px;
    font-family: var(--font-accent);
    font-weight: 900;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: left;
    color: #fff;
    background: #191f2c;
    border-radius: var(--ui-border-radius);
    transition: color 0.25s $ease;
    cursor: pointer;

    &::after {
      position: absolute;
      content: '';
      left: 25px;
      right: inherit;
      bottom: 23%;
      width: 46px;
      height: 44px;
      margin-bottom: 0;
      background: url('@/assets/img/arr-down.svg') no-repeat;
      transition: all 0.25s $ease;
    }

    &:hover {
      color: var(--color-primary);

      &::after {
        background: url('@/assets/img/arr-down2.svg') no-repeat;
      }
    }

    &.active {
      padding: 30px 96px 20px;
      background: #232834;

      &::after {
        position: absolute;
        content: '';
        left: 25px;
        right: inherit;
        bottom: 21%;
        width: 46px;
        height: 44px;
        margin-bottom: 0;
        background: url('@/assets/img/arr-top.svg') no-repeat;
        transition: all 0.25s $ease;
      }
    }
  }

  &__contents {
    position: relative;
    overflow: hidden;
  }

  &__dropdown {
    overflow: hidden;
    margin-top: -100%;
    margin-left: 0;
    padding: 0 40px 0 94px;
    background: #232834;
    border-radius: var(--ui-border-radius);
    transition: margin-top 0.3s ease-in;

    &._active {
      margin-top: 0;
    }
  }

  &__text {
    max-width: 897px;
    padding-bottom: 40px;
    font-family: var(--font-accent);
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    list-style-type: none;
  }
}

@include r($md) {
  .accordeon {
    &__toggle {
      font-size: 18px;
    }
  }
}

@include r($sm) {
  .accordeon {
    &__toggle {
      padding: 20px 20px 20px 50px;
      font-size: 16px;

      &::after {
        left: 6px;
        bottom: 32%;
        background-size: 30px;
      }
    }

    &__dropdown {
      padding-left: 51px;
    }
  }
}
