.heading {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__back {
    position: absolute;
    display: inline-flex;
    top: 50%;
    left: 0;
    justify-content: flex-start;
    align-items: center;
    width: 120px;
    color: rgb(255 255 255 / 31%);
    transform: translateY(-50%);
    transition: color 0.25s $ease;

    .svg-icon {
      flex: 0 0 auto;
      margin-right: 6px;
      font-size: 13px;
    }

    span {
      flex: 0 0 auto;
      text-transform: uppercase;
    }

    &:hover {
      color: var(--color-primary);
    }
  }

  &__title {
    margin: 0 auto;
    padding: 0 140px;
    text-align: center;
  }
}
