/* FOOTER */
.footer {
  padding: 106px 0;
  background: url('/img/decor/footer.png') no-repeat center center / cover;

  &__list {
    position: relative;
    display: flex;
    z-index: 2;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 40px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    opacity: 0.26;
    letter-spacing: 0.32em;
    transition: color 0.25s $ease, opacity 0.25s $ease;

    &:hover {
      color: var(--color-font);
      opacity: 0.5;
    }
  }
}

.footer2 {
  padding-bottom: 170px;
  background: transparent;
}

@include r($xl) {
  .footer {
    position: relative;

    &__link {
      opacity: 1;
    }
  }
}

@include r($md) {
  .footer {
    &__list {
      flex-direction: column;
      align-items: center;

      li {
        margin: 0 auto 15px !important;
      }
    }
  }
}
