.dev-btns {
  position: fixed;
  display: flex;
  left: 16px;
  bottom: 16px;
  z-index: 9;
  flex-direction: column;

  button {
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1;
    color: var(--color-font);
    background: var(--color-font-invert);
    border: 0;
    box-shadow: none;
    border-radius: var(--ui-border-radius);
    transition: background 0.25s $ease;

    &:hover {
      background: var(--color-primary);
    }

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }
}
