@function makehex($hex) {
  @return red($hex), green($hex), blue($hex);
}

:root {
  --font-base: 'Inter', sans-serif;
  --font-alt: 'Radio Canada', sans-serif;
  --font-accent: 'Raleway', sans-serif;
  --container-main: 1405px;
  --container-narrow: 1196px;
  --container-wide: 1536px;
  --container-mini: 820px;

  /* ui */
  --card-border-radius: 4px;
  --button-border-radius: 4px;
  --input-border-radius: 4px;
  --ui-border-radius: 4px;
}

.theme-main {
  // scheme
  --color-background: #f0f5f9;
  --color-font: #fff;
  --color-font-rgb: #{hexToRbg(#fff)};
  --color-font-invert: #010206;
  --color-gray: #a1a1a1;
  --color-muted: #cbcbcb;
  --color-bg: #010206;

  // brand colors
  --color-primary: #ffba01;
  --color-primary-rgb: #{hexToRbg(#ffba01)};
  --color-primary-hover: #ffde84;
  --color-accent: #600728;
  --color-green: #458940;
  --color-red: #d53536;

  // components
  --body-background: linear-gradient(0deg, #010206, #010206),
    linear-gradient(180deg, #1d5fdd 0%, #002e88 51.56%, #00102e 100%);
  --header-background: #373f54;
}
